<div class="container text-center">
  <h2 class="p-4">🤓 The Team 🤓</h2>

  <div class="row justify-content-center">
    <div class="col-md-4 p-4">
      <div class="card mb-4 box-shadow border-white">
        <img class="card-img-top rounded-circle" text="Thumbnail" alt="Thumbnail" src="https://avatars2.githubusercontent.com/u/46897634?s=460&v=4" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">C-E Adam</p>
        </div>
      </div>
    </div>
  </div>
</div>

